<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <title>KANBAN</title>
  </head>
  <body>
    <h2 id='title'>Lista de Pacientes Internados</h2>
    <h3 id='title'>Total de internados: <%- total%></h3>
    <table>
      <thead>
        <tr>       
          <th>R.H.</th>
          <th>Nome</th>
          <th>Leito</th>
          <th>Clínica</th>
          <th>Sexo</th>
          <th>Idade</th>                
          <th>Visita</th>        
        </tr>
      </thead>
      <tbody id="root"></tbody>
      <% data.forEach(function(p, i) { %>
        
        <%if(i%2!==0){ %>
          <tr class = 'pct-content even' >
        <% } %>        
        <%if(i%2===0 && !p.alert){ %>
          <tr class = 'pct-content' >
        <% } %>
                 
        <td><%=p.prontuario %></td> 
        <td class = 'nome'><%=p.nome %></td>
            <td class = 'center'><%=p.leito %></td>
            <td><%=p.clinica %></td>
            <td class = 'center'><%=p.genero %></td>
            <td class = 'center'><%=p.idade %></td>            
            <td>
              <form action="/recepcao" method="post">
                <input type="text" id="nome" name="nome" value="<%=p.nome %>" style="display:none">
                <button class = 'addVisita' type = 'submit'>Registrar</button>
              </form>
            </td>
          
        </tr>
      
      <% }) %>
    </table>
    <script>
   
    </script>
    <footer>DTI - HMACN - 2021</footer>
  </body>
</html>