<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <title>KANBAN</title>
  </head>
  <body>
    <h2 id='title'>Pacientes da Ortopedia</h2>
    <h3 id='title'>Total de internados: <%- total%></h3>
    <table>
      <thead>
        <tr>
          <th>Local</th>
          <th>Leito</th>
          <th>Prontuário</th>
          <th>Nome</th>
          <th>Sexo</th>
          <th>Idade</th>
          <th>Esp.</th>
          <th>HD</th>
          <th>Internação</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="root"></tbody>
      <% data.forEach(function(p, i) { %>
        <%if(i%2!==0){ %>
          <tr class = 'pct-content even' >
        <% } %>
        <%if(p.alert){ %>
          <tr class = 'pct-content acima_media' >
        <% } %>
        <%if(i%2===0 && !p.alert){ %>
          <tr class = 'pct-content' >
        <% } %>
            <td class = 'center'><%=p.nClin %></td>
            <td class = 'center'><%=p.leito %></td>
            <td><%=p.prontuario %></td>
            <td class = 'nome'><%=p.nome %></td>
            <td class = 'center'><%=p.genero %></td>
            <td class = 'center'><%=p.idade.slice(0, 3) %></td>
            <td class = 'center'><%=p.esp %></td>
            <td class = 'center'><%=p.hd %></td>
            <td class = 'center'><%=p.di %></td>
            <td class = 'center'><%=(p.status.slice(0, 3) === '00D' ? p.status.slice(3, 7): p.status.slice(0, 3)).trim() %></td>
        </tr>
      <% }) %>
    </table>
    
    <footer>DTI - HMACN - 2021</footer>
  </body>
</html>